back/venv/
.venv
/venv
*.pyc
.idea
/.vscode
/venvAi

# BackEnd
**/.devcontainer
**/__pycache__
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
**/migrations

# FroneEnd
/front/node_modules
/front/.pnp
/front/.pnp.js
# testing
/front/coverage
# production
/front/build
/node_modules

.static
static


# DB 도커 컨테이너가 사용하는 파일들
/db/data/ssumup
/db/data/mysql
/db/data/performance_schema
/db/data/aria_log.*
/db/data/aria_log_control
/db/data/ib_buffer_pool
/db/data/ib_logfile*
/db/data/ibdata*
/db/data/multi-master.info
/db/data/ibtmp*
/db/data/tc.log
# /db/data/

**/.devcontainer
