.navbar {
  /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */
  background-color: #fff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: #000;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 0;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #000;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #000;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: white;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    justify-content: center;
  }

  .nav-links {
    text-align: center;
    padding: 10px;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: antiquewhite;
    color: #000;
    border-radius: 0;
    height: 25px;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #000;
    font-size: 2rem;
  }
  .fas fa-times {
    color: #000;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 8px;
    width: 50%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #000;
    padding: 14px 20px;
    border: 1px solid #000;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background-color: antiquewhite;
    color: #000;
    transition: 250ms;
  }
}

/* Navbar after log-in */

.input_afterLogin {
  width: 400px;
  height: 30px;
  padding: 8px 20px;
  border-radius: 10px;
  margin-top: 50px;
  margin-right: 10px;
  /* outline: black; */
  border: 2px solid #aeaeae;
  background-color: #eeeeee;
  font-size: 15px;
  margin-bottom: 16px;
}

.nav-menu-login {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 45vw;
  /* width: 60vw; */
  justify-content: end;
  margin-right: 0;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  /* 모바일 화면 시 input */
  .input_afterLogin {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu-login {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu-login.active {
    background: white;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    justify-content: center;
  }

  .nav-links {
    text-align: center;
    padding: 10px;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: antiquewhite;
    color: #000;
    border-radius: 0;
    height: 25px;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #000;
    font-size: 2rem;
  }
  .fas fa-times {
    color: #000;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 8px;
    width: 50%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #000;
    padding: 14px 20px;
    border: 1px solid #000;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background-color: antiquewhite;
    color: #000;
    transition: 250ms;
  }
}
