/* 
Section1 = Section1
*/

/* 
배경
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
} */

.Section1 {
  /* background: url('images/ url') center center/cover no-repeat; */
  background-color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
  object-fit: contain;
}

.Section1 .intro_h1 {
  font-size: 80px;
  margin-top: -80px;
}

.Section1 > p {
  margin-top: 8px;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@media screen and (max-width: 960px) {
  .Section1 > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .Section1 > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .Section1 > p {
    font-size: 30px;
  }
}
