/* body {
  color: #444;
  font-size: 1em;
} */

/* white #F7F7F9 / red #D2302C */

.Main {
  width: 100%;
  margin-bottom: 30rem;
}

.line {
  /* display: grid;
  grid-template-columns: 50% 50%; */
  margin-left: 75px;
  margin-right: 75px;
  border: 3px solid #f7f7f9;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 500px;
  padding-right: 13px;
}

.container {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
}
.section {
  width: 100%;
  padding: 10px;
  margin: 10px;
}

.section_text {
  width: 100%;
  padding: 10px;
  margin: 10px;
  margin-right: 5px;
}

.youtube_container {
  width: 100%;
  background-color: black;
  height: 400px;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-left: auto;
  display: flex;
}

.text_container_main {
  width: 100%;
  background-color: white;
  /* height: 400px; */
  height: 100%;
  position: relative;
}

.save_btn_main {
  display: flex;
  justify-content: space-between;
  text-align: right;
  margin-top: 100px;
}
.rating_message {
  color: #f7f7f9;
}

/* mobile */
@media screen and (max-width: 720px) {
  .Main {
    width: 100%;
  }
  .line {
    border: 2px solid black;
    margin-top: 90px;
    margin-left: 0;
    margin-right: 0;

    justify-content: center;
    align-items: center;

    width: 100%;

    box-sizing: border-box;
    padding: 10px;
    flex-direction: column;
  }

  .section {
    /* card */
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .section_text {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }
}
